:root {

    /* Elegant yet approachable */
    --col1: #EDC7B7;
    --col2: #EEE2DC;
    --col3: #BAB2B5;
    --col4: #021230;
    --col5: #AC3B61;

    /* Artsy and creative */
/*    --col1: #D79922;
    --col2: #EFE2BA;
    --col3: #C5CBE3;
    --col4: #4056A1;
    --col5: #F13C20;*/

    /* Sleek and futuristic */
/*    --col1: #FFCB9A;
    --col2: #D9B08C;
    --col3: #D1E8E2;
    --col4: #2C3531;
    --col5: #116466;
*/


    /* Vibrant and elegant */
/*
    --col1: #374785;
    --col2: #f8e9a1;
    --col3: #A8D0E6;
    --col4: #24305E;
    --col5: #F76C6C;
*/


}